@font-face {
  font-family: "FingerPaint";
  src: url(../fonts/Finger_Paint/FingerPaint-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "PatrickHand";
  src: url(../fonts/Patrick_Hand/PatrickHand-Regular.ttf) format("truetype");
}

:root {

  /* Defaults with vite project build tool*/
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Dev defined */
  --color-main: #2563eb;
  --color-main-off: #91b4ff;
}

body{
  margin: 0;
}

button{
  border: none;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
  background-color: var(--color-main);
  color: white;
}

button:active {
  filter: brightness(80%); /* Makes the element 20% darker */
}

svg {
  max-width: 100%; /* Take up the full width of its container */
  height: auto;    /* Maintain the aspect ratio */
}